<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>

  <body>

<div>
    <h1><%= title %></h1>
      <h3>pass a string as a URI parameter, images will return a json</h3>
      <p>for example:</p>
      <code>https://color-game-knockoff.herokuapp.com/images/cats+dogs</code>
      <p>returns:</p>
      <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
</div>

  </body>
