<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <script src="/javascripts/index.js"></script>

  </head>
    <div id="projectsList">
      <h1><%= title %></h1>
      <h3>backend/fullstack projects</h3>
      <ul>
        <% apps = apps.apps;
          for (var i = 0; i < apps.length; i++){
            let url = path + apps[i].route %>
            <li><a href="<%= url %>"</a> <%= apps[i].title %> </li>

          <% } %>
      </ul>
    </div>


  </body>
</html>
<div
